<h1> Articles listing page</h1>

<table>
<thead>
  <th>
    id
  </th>
  <th>
    title
  </th>
  <th>
    description
  </th>
  <th>
  actions
  </th>
</thead>
  <tbody>
  <% @articles.each do |article| %>
  <tr>
    <td>
      <%= article.id %>
    </td>
    <td>
      <%= article.title %>
    </td>
    <td>
      <%= article.description %>
    </td>
    <td>
      <%= link_to 'Show', article_path(article), class: 'btn btn-primary' %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>